.contactList {
  padding: 30px 20px;
  list-style: none;
  min-height: 100px;
}
.contactWrap {
  display: flex;
  justify-content: space-between;
}
.contact {
  margin: 20px 0;
  font-size: 20px;
}
.contactNumber {
  margin-left: 15px;
}
.btnDelete {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(255, 0, 0);
}
